nav{
    position: fixed;
}

.main-sec{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.925);
    display: flex;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 100px;
}
#navbarTogglerDemo01 .navbar-brand{
    padding-left: 110px;
    font-size: 30px;
    font-weight: bold;
}
#navbarTogglerDemo01 ul li a{
    padding-right: 30px;
}
.heading p{
    color: gainsboro;
    padding-bottom: 50px;
}
.heading h1{
    font-size: 50px;
}
.cards{
    display: flex;
}
.card img{
width: 100%;
height: 300px;
cursor: pointer;
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 20px;
}
.card-group .card{
    margin: 0px 30px; 
}
.main-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-cards .card{
    margin: 0px 10px;
}

footer .foot{
    padding: 25px 50px;
}
.foot p{
    color: white;
}